# Import Libraries

In [1]:
import mysql.connector

In [297]:
import pickle
import ruptures as rpt
from prettytable import PrettyTable

# Connect to MySQL Database

In [2]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='slow675',
    database='amd_project'
    )

In [3]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002254A21B780>

In [4]:
mycursor = mydb.cursor()

# Load Dataset

In [5]:
%run ../ddc/load_dataset.ipynb

In [284]:
subj_range = np.hstack((np.arange(2001,2002),np.arange(3001,3006)))

all_patients = [str(i) for i in subj_range]

In [285]:
all_patients

['2001', '3001', '3002', '3003', '3004', '3005']

In [7]:
X_all_p, y_all_p, subj_all_p, ts_all_p, hr_all_p = load_all_data(all_patients)

Loading 2001's data
Loading 3001's data
Loading 3002's data
Loading 3003's data
Loading 3004's data
Loading 3005's data
Finished loading

In [152]:
mypath = '../../DDC_Data/'
basepath = '../../'

df_all_p = pd.DataFrame()

for subject_id in all_patients:
    print("Loading {0}'s data".format(subject_id))
    
    acc_filepath = mypath + subject_id + '/' + subject_id + '-log_acc.csv'
    df_raw = pd.read_csv(acc_filepath, header=None, names=['x','y','z','timestamp'])

    df_timer, rec_date, start_time, end_time = load_timer(subject_id)
    df_filt = load_acc(subject_id, rec_date, start_time, end_time)
    df_hr = load_hr(subject_id, rec_date, start_time, end_time)

    df1 = merge_acc_and_hr(df_filt, df_hr)
    
    cols = ['x','y','z']
    xyz_ = df1[cols].to_dict('split')['data']
    xyz_new = MinMaxScaler().fit_transform(xyz_)
    
    for i in range(len(cols)):
        df1[cols[i]] = pd.Series(xyz_new.transpose()[i])

    X_i_p = np.array(df1[cols].to_dict(orient='split')['data'])
    subj_all_p = np.array([subject_id for i in range(X_all_p.shape[0])])
    
    df_all_p = df_all_p.append(df1, sort=False)
    
print('Finished Loading')

Loading 2001's data
Loading 3001's data
Loading 3002's data
Loading 3003's data
Loading 3004's data
Loading 3005's data
Finished Loading

In [153]:
df_all_p['label'] = [None for i in range(df_all_p.shape[0])]
df_all_p_sorted = df_all_p.copy()
df_all_p_sorted = df_all_p_sorted.reset_index(drop=True)

In [154]:
df_all_p_sorted

,ID,timestamp,x,y,z,HR,label
0,2001,2019-01-16 13:58:47.956,0.246041,0.475436,0.576183,68.205284,None
1,2001,2019-01-16 13:58:48.117,0.246431,0.473881,0.576429,68.205284,None
2,2001,2019-01-16 13:58:48.278,0.246236,0.474464,0.573722,68.205284,None
3,2001,2019-01-16 13:58:48.439,0.246041,0.473881,0.574460,67.365480,None
4,2001,2019-01-16 13:58:48.6,0.246821,0.472521,0.575444,67.365480,None
5,2001,2019-01-16 13:58:48.76,0.247016,0.474659,0.572246,67.365480,None
6,2001,2019-01-16 13:58:48.922,0.247211,0.477574,0.573722,67.365480,None
7,2001,2019-01-16 13:58:49.08,0.245262,0.469994,0.575198,67.365480,None
8,2001,2019-01-16 13:58:49.243,0.246041,0.475047,0.571754,67.365480,None
9,2001,2019-01-16 13:58:49.402,0.246236,0.471937,0.570277,67.365480,None
10,2001,2019-01-16 13:58:49.562,0.246041,0.473492,0.571508,66.945570,None
11,2001,2019-01-16 13:58:49.723,0.242144,0.472326,0.572984,66.945570,None
12,2001,2019-01-16 13:58:49.884,0.245457,0.472132,0.570770,66.945570,None
13,2001,2019-01-16 13:58:50.045,0.246236,0.475047,0.570277,66.945570,None
14,2001,2019-01-16 13:58:50.205,0.243703,0.477185,0.573968,66.945570,None
15,2001,2019-01-16 13:58:50.366,0.244677,0.477963,0.567817,66.945570,None
16,2001,2019-01-16 13:58:50.526,0.245067,0.475436,0.573476,66.945570,None
17,2001,2019-01-16 13:58:50.687,0.245262,0.483211,0.566341,66.891680,None
18,2001,2019-01-16 13:58:50.848,0.247016,0.473492,0.572000,66.891680,None
19,2001,2019-01-16 13:58:51.009,0.244482,0.471743,0.572738,66.891680,None
20,2001,2019-01-16 13:58:51.169,0.244482,0.470966,0.573968,66.891680,None
21,2001,2019-01-16 13:58:51.332,0.244872,0.472715,0.570523,66.891680,None
22,2001,2019-01-16 13:58:51.49,0.247406,0.473492,0.569785,66.891680,None
23,2001,2019-01-16 13:58:51.651,0.245652,0.472326,0.574214,66.891680,None
24,2001,2019-01-16 13:58:51.812,0.246626,0.473881,0.567817,66.883880,None
25,2001,2019-01-16 13:58:51.972,0.245067,0.474076,0.570770,66.883880,None
26,2001,2019-01-16 13:58:52.134,0.244677,0.470382,0.572246,66.883880,None
27,2001,2019-01-16 13:58:52.294,0.243703,0.475825,0.572492,66.883880,None
28,2001,2019-01-16 13:58:52.454,0.242923,0.470188,0.574460,66.883880,None
29,2001,2019-01-16 13:58:52.615,0.244872,0.479518,0.571262,66.883880,None
...,...,...,...,...,...,...,...
16548,3005,2019-03-05 13:05:52.444,0.765662,0.479994,0.751300,85.435660,None
16549,3005,2019-03-05 13:05:52.605,0.714778,0.467301,0.768947,85.435660,None
16550,3005,2019-03-05 13:05:52.766,0.762793,0.439432,0.640416,85.435660,None
16551,3005,2019-03-05 13:05:52.928,0.653754,0.412941,0.620136,85.435660,None
16552,3005,2019-03-05 13:05:53.087,0.839885,0.377070,0.647001,85.435660,None
16553,3005,2019-03-05 13:05:53.249,0.860545,0.404939,0.722592,85.435660,None
16554,3005,2019-03-05 13:05:53.409,0.712865,0.466198,0.723645,83.078640,None
16555,3005,2019-03-05 13:05:53.568,0.755141,0.535458,0.802924,83.078640,None
16556,3005,2019-03-05 13:05:53.73,0.779627,0.487997,0.693093,83.078640,None
16557,3005,2019-03-05 13:05:53.889,0.741176,0.399696,0.570356,83.078640,None
16558,3005,2019-03-05 13:05:54.051,0.656815,0.404111,0.612234,83.078640,None
16559,3005,2019-03-05 13:05:54.211,0.785748,0.424531,0.616448,83.078640,None
16560,3005,2019-03-05 13:05:54.372,0.934577,0.481374,0.745769,83.078640,None
16561,3005,2019-03-05 13:05:54.532,0.682257,0.503449,0.683874,80.898530,None
16562,3005,2019-03-05 13:05:54.692,0.762984,0.548427,0.681241,80.898530,None
16563,3005,2019-03-05 13:05:54.854,0.773505,0.475028,0.652005,80.898530,None
16564,3005,2019-03-05 13:05:55.014,0.787853,0.499586,0.558504,80.898530,None
16565,3005,2019-03-05 13:05:55.175,0.663319,0.471440,0.585632,80.898530,None
16566,3005,2019-03-05 13:05:55.335,0.695265,0.458471,0.645420,80.898530,None
16567,3005,2019-03-05 13:05:55.496,0.701961,0.483858,0.701521,80.898530,None
16568,3005,2019-03-05 13:05:55.657,0.710187,0.529939,0.666754,68.207535,None
16569,3005,2019-03-05 13:05:55.818,0.723003,0.516418,0.678607,68.207535,None
16570,3005,2019-03-05 13:05:55.978,0.936490,0.537666,0.617502,68.207535,None
16571,3005,2019-03-05 13:05:56.137,0.817121,0.506760,0.591427,68.207535,None
16572,3005,2019-03-05 13:05:56.302,0.689144,0.430877,0.584842,68.207535,None
16573,3005,2019-03-05 13:05:56.459,0.715352,0.433637,0.600909,68.207535,None
16574,3005,2019-03-05 13:05:56.621,0.920995,0.515039,0.654902,68.207535,None
16575,3005,2019-03-05 13:05:56.781,0.835103,0.460955,0.671495,68.207535,None
16576,3005,2019-03-05 13:05:56.941,0.726447,0.516970,0.653059,68.207535,None
16577,3005,2019-03-05 13:05:57.101,0.774462,0.524972,0.650161,68.207535,None

In [155]:
df_all_p_sorted['Milliseconds'] = df_all_p_sorted['timestamp'].apply(lambda x: x.split(' ')[1].split('.')[1])

# Predict Labels

In [156]:
filename = basepath + 'model/knn_model_patients.pkl'

model = pickle.load(open(filename,'rb'))

In [245]:
%run ../ddc/preprocessing.ipynb

In [158]:
cols = ['x','y','z']

X_all_p = np.array(df_all_p_sorted[cols].to_dict('split')['data'])
y_all_p = np.zeros(X_all_p.shape[0])

In [159]:
# cols = ['x','y','z']

# model_alg = "l1"
# algo = rpt.Pelt(model=model_alg, min_size=3, jump=5).fit(X_all_p)

# bkps = [100,200,300]
# my_bkps = algo.predict(pen=50)

# # show results
# fig, ax = rpt.display(X_all_p, bkps, my_bkps, figsize=(10, 6))
# plt.show()

In [160]:
y_pred_all = []
df_grouped = df_all_p_sorted.groupby('ID')

for x in df_grouped:
    label_grp = x[0]
    
    df_grp = df_grouped.get_group(label_grp)
    print(np.max(df_grp['x']))
    
    cols = ['x','y','z']

    X_all_p = np.array(df_grp[cols].to_dict('split')['data'])
    y_all_p = np.zeros(X_all_p.shape[0])

    X_impure, y_impure = prepare_impure_label(X_all_p, y_all_p)
    y_pred = model.predict(X_impure)

    window_length = 60
    y_pred_fill = np.hstack(([y_pred[0] for i in range(window_length-1)], y_pred))
    
    y_pred_all.append(y_pred_fill)

1.0
1.0
1.0
1.0
1.0
1.0

In [161]:
y_pred_all = np.hstack(y_pred_all)

In [162]:
df_all_p_sorted['y_pred'] = pd.Series(y_pred_all)
df_all_p_sorted['label'] = pd.Series([label_list[i] for i in y_pred_all])

In [164]:
y_pred_all.shape, df_all_p_sorted.shape

((16578,), (16578, 9))

# Analyze Predicted Results

In [306]:
%run mysql_connector_functions.ipynb

In [166]:
df_date = df_all_p_sorted.copy()
df_date['date'] = df_date['timestamp'].apply(lambda x: x.split(' ')[0])
df_date['time'] = df_date['timestamp'].apply(lambda x: x.split(' ')[1])

cols = ['ID','date','time','Milliseconds','x','y','z','HR','y_pred','label']
df_date = df_date[cols]

In [169]:
df_date

,ID,date,time,Milliseconds,x,y,z,HR,y_pred,label
0,2001,2019-01-16,13:58:47.956,956,0.246041,0.475436,0.576183,68.205284,2,stand
1,2001,2019-01-16,13:58:48.117,117,0.246431,0.473881,0.576429,68.205284,2,stand
2,2001,2019-01-16,13:58:48.278,278,0.246236,0.474464,0.573722,68.205284,2,stand
3,2001,2019-01-16,13:58:48.439,439,0.246041,0.473881,0.574460,67.365480,2,stand
4,2001,2019-01-16,13:58:48.6,6,0.246821,0.472521,0.575444,67.365480,2,stand
5,2001,2019-01-16,13:58:48.76,76,0.247016,0.474659,0.572246,67.365480,2,stand
6,2001,2019-01-16,13:58:48.922,922,0.247211,0.477574,0.573722,67.365480,2,stand
7,2001,2019-01-16,13:58:49.08,08,0.245262,0.469994,0.575198,67.365480,2,stand
8,2001,2019-01-16,13:58:49.243,243,0.246041,0.475047,0.571754,67.365480,2,stand
9,2001,2019-01-16,13:58:49.402,402,0.246236,0.471937,0.570277,67.365480,2,stand
10,2001,2019-01-16,13:58:49.562,562,0.246041,0.473492,0.571508,66.945570,2,stand
11,2001,2019-01-16,13:58:49.723,723,0.242144,0.472326,0.572984,66.945570,2,stand
12,2001,2019-01-16,13:58:49.884,884,0.245457,0.472132,0.570770,66.945570,2,stand
13,2001,2019-01-16,13:58:50.045,045,0.246236,0.475047,0.570277,66.945570,2,stand
14,2001,2019-01-16,13:58:50.205,205,0.243703,0.477185,0.573968,66.945570,2,stand
15,2001,2019-01-16,13:58:50.366,366,0.244677,0.477963,0.567817,66.945570,2,stand
16,2001,2019-01-16,13:58:50.526,526,0.245067,0.475436,0.573476,66.945570,2,stand
17,2001,2019-01-16,13:58:50.687,687,0.245262,0.483211,0.566341,66.891680,2,stand
18,2001,2019-01-16,13:58:50.848,848,0.247016,0.473492,0.572000,66.891680,2,stand
19,2001,2019-01-16,13:58:51.009,009,0.244482,0.471743,0.572738,66.891680,2,stand
20,2001,2019-01-16,13:58:51.169,169,0.244482,0.470966,0.573968,66.891680,2,stand
21,2001,2019-01-16,13:58:51.332,332,0.244872,0.472715,0.570523,66.891680,2,stand
22,2001,2019-01-16,13:58:51.49,49,0.247406,0.473492,0.569785,66.891680,2,stand
23,2001,2019-01-16,13:58:51.651,651,0.245652,0.472326,0.574214,66.891680,2,stand
24,2001,2019-01-16,13:58:51.812,812,0.246626,0.473881,0.567817,66.883880,2,stand
25,2001,2019-01-16,13:58:51.972,972,0.245067,0.474076,0.570770,66.883880,2,stand
26,2001,2019-01-16,13:58:52.134,134,0.244677,0.470382,0.572246,66.883880,2,stand
27,2001,2019-01-16,13:58:52.294,294,0.243703,0.475825,0.572492,66.883880,2,stand
28,2001,2019-01-16,13:58:52.454,454,0.242923,0.470188,0.574460,66.883880,2,stand
29,2001,2019-01-16,13:58:52.615,615,0.244872,0.479518,0.571262,66.883880,2,stand
...,...,...,...,...,...,...,...,...,...,...
16548,3005,2019-03-05,13:05:52.444,444,0.765662,0.479994,0.751300,85.435660,3,walk
16549,3005,2019-03-05,13:05:52.605,605,0.714778,0.467301,0.768947,85.435660,3,walk
16550,3005,2019-03-05,13:05:52.766,766,0.762793,0.439432,0.640416,85.435660,3,walk
16551,3005,2019-03-05,13:05:52.928,928,0.653754,0.412941,0.620136,85.435660,3,walk
16552,3005,2019-03-05,13:05:53.087,087,0.839885,0.377070,0.647001,85.435660,3,walk
16553,3005,2019-03-05,13:05:53.249,249,0.860545,0.404939,0.722592,85.435660,3,walk
16554,3005,2019-03-05,13:05:53.409,409,0.712865,0.466198,0.723645,83.078640,3,walk
16555,3005,2019-03-05,13:05:53.568,568,0.755141,0.535458,0.802924,83.078640,3,walk
16556,3005,2019-03-05,13:05:53.73,73,0.779627,0.487997,0.693093,83.078640,3,walk
16557,3005,2019-03-05,13:05:53.889,889,0.741176,0.399696,0.570356,83.078640,3,walk
16558,3005,2019-03-05,13:05:54.051,051,0.656815,0.404111,0.612234,83.078640,3,walk
16559,3005,2019-03-05,13:05:54.211,211,0.785748,0.424531,0.616448,83.078640,3,walk
16560,3005,2019-03-05,13:05:54.372,372,0.934577,0.481374,0.745769,83.078640,3,walk
16561,3005,2019-03-05,13:05:54.532,532,0.682257,0.503449,0.683874,80.898530,3,walk
16562,3005,2019-03-05,13:05:54.692,692,0.762984,0.548427,0.681241,80.898530,3,walk
16563,3005,2019-03-05,13:05:54.854,854,0.773505,0.475028,0.652005,80.898530,3,walk
16564,3005,2019-03-05,13:05:55.014,014,0.787853,0.499586,0.558504,80.898530,3,walk
16565,3005,2019-03-05,13:05:55.175,175,0.663319,0.471440,0.585632,80.898530,3,walk
16566,3005,2019-03-05,13:05:55.335,335,0.695265,0.458471,0.645420,80.898530,3,walk
16567,3005,2019-03-05,13:05:55.496,496,0.701961,0.483858,0.701521,80.898530,3,walk
16568,3005,2019-03-05,13:05:55.657,657,0.710187,0.529939,0.666754,68.207535,3,walk
16569,3005,2019-03-05,13:05:55.818,818,0.723003,0.516418,0.678607,68.207535,3,walk
16570,3005,2019-03-05,13:05:55.978,978,0.936490,0.537666,0.617502,68.207535,3,walk
16571,3005,2019-03-05,13:05:56.137,137,0.817121,0.506760,0.591427,68.207535,3,walk
16572,3005,2019-03-05,13:05:56.302,302,0.689144,0.430877,0.584842,68.207535,3,walk
16573,3005,2019-03-05,13:05:56.459,459,0.715352,0.433637,0.600909,68.207535,3,walk
16574,3005,2019-03-05,13:05:56.621,621,0.920995,0.515039,0.654902,68.207535,3,walk
16575,3005,2019-03-05,13:05:56.781,781,0.835103,0.460955,0.671495,68.207535,3,walk
16576,3005,2019-03-05,13:05:56.941,941,0.726447,0.516970,0.653059,68.207535,3,walk
16577,3005,2019-03-05,13:05:57.101,101,0.774462,0.524972,0.650161,68.207535,3,walk

## All Day Summary

In [307]:
df_summary_all = get_df_summary_all(all_patients, df_date)

In [312]:
df_summary_all = df_summary_all.reset_index(drop=True)
df_summary_all

     ID        date    from      to     sit   sleep   stand    walk
0  2001  2019-01-16  13:0:0  14:0:0  0:0:35  0:0:00  0:0:36  0:0:00
1  2001  2019-01-16  14:0:0  15:0:0  0:1:07  0:1:10  0:4:03  0:3:04
2  3001  2019-03-05  10:0:0  11:0:0  0:1:55  0:1:09  0:3:02  0:1:04
3  3002  2019-03-05  12:0:0  13:0:0  0:1:06  0:1:10  0:2:48  0:0:30
4  3003  2019-03-05  12:0:0  13:0:0  0:1:28  0:1:15  0:2:09  0:1:27
5  3004  2019-03-05  12:0:0  13:0:0  0:1:53  0:1:18  0:2:44  0:0:56
6  3005  2019-03-05  12:0:0  13:0:0  0:0:01  0:0:00  0:0:30  0:0:00
7  3005  2019-03-05  13:0:0  14:0:0  0:1:44  0:1:17  0:1:47  0:0:59

## Activity Analysis

In [293]:
subject_id = '2001'
label_period, period_list, df_grp_date = get_period_for_each_label(subject_id, df_date)

2019-01-16

In [300]:
print(len(label_period))

label_cnt_list = [0 for i in range(len(label_list))]
for lb_p in label_period:
    label_i = lb_p[lb_idx]
    
    label_cnt_list[label_i] += 1

203

In [301]:
label_cnt_list

[17, 6, 89, 91]

In [302]:
total_secs = []
for i in range(len(period_list)):    
    secs = 0
    for p_i in period_list[i]:
        sec = calc_sec(p_i[2]) - calc_sec(p_i[1])
        secs += sec
    
    secs = round(secs, 3)
    total_secs.append(secs)
    
percent_secs = [round(t/np.sum(total_secs)*100, 3) for t in total_secs]

tb = PrettyTable(['Label', 'Minutes', 'Percentage', 'Activity Count'])

for i in range(len(LABELS)):
    tb.add_row([label_list[i], convert_time_to_string(total_secs[i]), percent_secs[i], label_cnt_list[i]])

tb.add_row(['', '', '',''])
tb.add_row(['total', convert_time_to_string(round(np.sum(total_secs), 3)), 
            round(np.sum(percent_secs), 3), len(label_period)])

In [303]:
print(tb)

+-------+---------+------------+----------------+
| Label | Minutes | Percentage | Activity Count |
+-------+---------+------------+----------------+
|  sit  |  0:1:43 |   16.17    |       17       |
| sleep |  0:1:10 |   11.011   |       6        |
| stand |  0:4:39 |   43.849   |       89       |
|  walk |  0:3:04 |   28.97    |       91       |
|       |         |            |                |
| total | 0:10:37 |   100.0    |      203       |
+-------+---------+------------+----------------+

# Insert to Database

In [240]:
sql = "INSERT INTO Patient (ID, Dateandtime, Milliseconds, X, Y, Z, HR, Label) \
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"

for row in zip(df_all_p_sorted['ID'], 
               df_all_p_sorted['timestamp'], 
               df_all_p_sorted['Milliseconds'],
               df_all_p_sorted['x'], 
               df_all_p_sorted['y'], 
               df_all_p_sorted['z'], 
               df_all_p_sorted['HR'], 
               df_all_p_sorted['label']):
    
    mycursor.execute(sql, row)

mydb.commit()

In [314]:
sql = "INSERT INTO AllDaySummary (ID, Date, TimeFrom, TimeUntil, DurationSit, DurationSleep, DurationStand, DurationWalk)\
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"

for row in zip(df_summary_all['ID'], 
               df_summary_all['date'], 
               df_summary_all['from'],
               df_summary_all['to'], 
               df_summary_all['sit'], 
               df_summary_all['sleep'], 
               df_summary_all['stand'], 
               df_summary_all['walk']):
    
    mycursor.execute(sql, row)
    
mydb.commit()

# Show Results

In [242]:
mycursor.execute("SELECT * FROM Patient")

myresult = mycursor.fetchall()

print(len(myresult))

for x in range(50):
    print(myresult[x])

16578
(2001, datetime.datetime(2019, 1, 16, 13, 58, 48), '117', 0.2464, 0.4739, 0.5764, 68.2053, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 48), '278', 0.2462, 0.4745, 0.5737, 68.2053, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 48), '439', 0.246, 0.4739, 0.5745, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 48), '956', 0.246, 0.4754, 0.5762, 68.2053, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 49), '08', 0.2453, 0.47, 0.5752, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 49), '243', 0.246, 0.475, 0.5718, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 49), '402', 0.2462, 0.4719, 0.5703, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 49), '6', 0.2468, 0.4725, 0.5754, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 49), '76', 0.247, 0.4747, 0.5722, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 49), '922', 0.2472, 0.4776, 0.5737, 67.3655, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 50), '045', 0.2462, 0.475, 0.5703, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 50), '205', 0.2437, 0.4772, 0.574, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 50), '366', 0.2447, 0.478, 0.5678, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 50), '562', 0.246, 0.4735, 0.5715, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 50), '723', 0.2421, 0.4723, 0.573, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 50), '884', 0.2455, 0.4721, 0.5708, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '009', 0.2445, 0.4717, 0.5727, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '169', 0.2445, 0.471, 0.574, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '332', 0.2449, 0.4727, 0.5705, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '49', 0.2474, 0.4735, 0.5698, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '526', 0.2451, 0.4754, 0.5735, 66.9456, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '687', 0.2453, 0.4832, 0.5663, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 51), '848', 0.247, 0.4735, 0.572, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 52), '134', 0.2447, 0.4704, 0.5722, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 52), '294', 0.2437, 0.4758, 0.5725, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 52), '454', 0.2429, 0.4702, 0.5745, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 52), '651', 0.2457, 0.4723, 0.5742, 66.8917, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 52), '812', 0.2466, 0.4739, 0.5678, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 52), '972', 0.2451, 0.4741, 0.5708, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 53), '097', 0.2451, 0.4807, 0.5767, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 53), '259', 0.2453, 0.4764, 0.5705, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 53), '418', 0.2462, 0.4764, 0.571, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 53), '615', 0.2449, 0.4795, 0.5713, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 53), '775', 0.2453, 0.4745, 0.5745, 66.8839, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 53), '936', 0.2468, 0.4782, 0.5752, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 54), '08', 0.2453, 0.4743, 0.5725, 67.6867, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 54), '222', 0.2464, 0.4743, 0.5678, 67.6867, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 54), '382', 0.2449, 0.4747, 0.57, 67.6867, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 54), '58', 0.2443, 0.4784, 0.5757, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 54), '739', 0.246, 0.4764, 0.5698, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 54), '902', 0.2439, 0.4766, 0.57, 67.4191, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 55), '029', 0.247, 0.476, 0.5722, 67.8205, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 55), '185', 0.2468, 0.4737, 0.575, 67.8205, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 55), '345', 0.2484, 0.4684, 0.5713, 67.8205, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 55), '542', 0.2439, 0.4749, 0.5683, 67.6867, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 55), '703', 0.2443, 0.4719, 0.5722, 67.6867, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 55), '864', 0.2472, 0.4745, 0.5715, 67.6867, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 56), '15', 0.2488, 0.4684, 0.5688, 67.3331, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 56), '312', 0.2476, 0.469, 0.5718, 67.3331, 'stand')
(2001, datetime.datetime(2019, 1, 16, 13, 58, 56), '471', 0.2482, 0.4719, 0.569, 67.3331, 'stand')

In [315]:
mycursor.execute("SELECT * FROM AllDaySummary")

myresult = mycursor.fetchall()

print(len(myresult))

for x in range(len(myresult)):
    print(myresult[x])

8
(2001, datetime.date(2019, 1, 16), datetime.timedelta(0, 46800), datetime.timedelta(0, 50400), datetime.timedelta(0, 35), datetime.timedelta(0), datetime.timedelta(0, 36), datetime.timedelta(0))
(2001, datetime.date(2019, 1, 16), datetime.timedelta(0, 50400), datetime.timedelta(0, 54000), datetime.timedelta(0, 67), datetime.timedelta(0, 70), datetime.timedelta(0, 243), datetime.timedelta(0, 184))
(3001, datetime.date(2019, 3, 5), datetime.timedelta(0, 36000), datetime.timedelta(0, 39600), datetime.timedelta(0, 115), datetime.timedelta(0, 69), datetime.timedelta(0, 182), datetime.timedelta(0, 64))
(3002, datetime.date(2019, 3, 5), datetime.timedelta(0, 43200), datetime.timedelta(0, 46800), datetime.timedelta(0, 66), datetime.timedelta(0, 70), datetime.timedelta(0, 168), datetime.timedelta(0, 30))
(3003, datetime.date(2019, 3, 5), datetime.timedelta(0, 43200), datetime.timedelta(0, 46800), datetime.timedelta(0, 88), datetime.timedelta(0, 75), datetime.timedelta(0, 129), datetime.timedelta(0, 87))
(3004, datetime.date(2019, 3, 5), datetime.timedelta(0, 43200), datetime.timedelta(0, 46800), datetime.timedelta(0, 113), datetime.timedelta(0, 78), datetime.timedelta(0, 164), datetime.timedelta(0, 56))
(3005, datetime.date(2019, 3, 5), datetime.timedelta(0, 43200), datetime.timedelta(0, 46800), datetime.timedelta(0, 1), datetime.timedelta(0), datetime.timedelta(0, 30), datetime.timedelta(0))
(3005, datetime.date(2019, 3, 5), datetime.timedelta(0, 46800), datetime.timedelta(0, 50400), datetime.timedelta(0, 104), datetime.timedelta(0, 77), datetime.timedelta(0, 107), datetime.timedelta(0, 59))

In [18]:
sql = "DELETE FROM Patient"

mycursor.execute(sql)

mydb.commit()

In [313]:
mycursor.execute("DROP TABLE AllDaySummary")
# mycursor.execute("DROP TABLE ActivityAnalysis")
# mycursor.execute("DROP TABLE Patient")